extends layout
block content
  .container-fulid
    .col-sm-10.col-md-10
      .panel.panel-default
        .panel-heading
          .row
            .pull-right(style="margin-right: 10px;")
              h3#h3.panel-title عرض #{title}
            .col-xs-6.col-md-6
              form.form#search_family(action="")
                .input-group
                  input.form-control(type='text',name="q" placeholder='بحث...برقم القيد فقط')
                  .input-group-btn
                    button.btn.btn-default(type="submit")
                      i.glyphicon.glyphicon-search
            if q
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-success(href='#add', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-plus
                  span.text-none  إضافة مولود جديد
        .table-responsive
          table.table.table-bordred.table-striped.table-condensed
            thead
              tr.info
                th.text-center الرقم الوطني
                th.text-center الاسم رباعي
                th.text-center تاريخ الميلاد
                th.text-center مكان الميلاد
                th.text-center صلة القرابة
                th.text-center الجنسية
                th.text-center تعديل
                th.text-center إلغاء
            tbody
              if q
                for per in personals
                  tr
                    td.text-center #{per.Personal.national_id}
                    td.text-center #{per.Personal.Arabic_Firstname} #{per.Personal.Arabic_Fathername} #{per.Personal.Arabic_Grandfathername} #{per.Personal.Arabic_Familyname}
                    td.text-center #{per.Personal.Birth_Date.getDate()} / #{per.Personal.Birth_Date.getMonth() - 1} /#{per.Personal.Birth_Date.getFullYear()}
                    td.text-center #{per.Personal.Birth_Place}
                    td.text-center #{per.Kinship.kinship_name}
                    td.text-center 
                      if per.Personal.Gender==1
                        |#{per.Personal.Nationality.nationality_male}
                      else 
                        |#{per.Personal.Nationality.nationality_female}
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="تعديل")
                        button.btn.btn-primary.btn-xs.edit_btn(data-toggle="modal", data-target="#edit",value="#{per.Personal.id}")
                          span.glyphicon.glyphicon-edit
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                        button.btn.btn-danger.btn-xs.delete_btn(data-toggle="modal", data-target="#delete",value="#{per.Personal.id}")
                          span.glyphicon.glyphicon-trash
  #add.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        form.form(action="/birth/new_birth", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align إضافة مولود جديد
          .modal-body
            ul.nav.nav-tabs(role="tablist")
              li.active(role="presentation")
                a(href="#tabOne", aria-controls="tabOne", role="tab", data-toggle="tab") البيانات الشخصية
              li
                a(href="#tabTow", aria-controls="tabTow", role="tab", data-toggle="tab") بيانات الواقعة - 1
              li
                a(href="#tabThree", aria-controls="tabThree", role="tab", data-toggle="tab") بيانات الواقعة - 2
            .tab-content
              #tabOne.tab-pane.active(role="tabpanel")
                br
                .row
                  .col-xs-3.col-md-3
                    .form-group
                      label اسم المولود
                      input.form-control(type="text", name="Arabic_Firstname", placeholder="اسم المولود")
                  .col-xs-3.col-md-3
                    .form-group
                      label جنس المولود
                      select.form-control.selectpicker(name="Gender", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') جنس المولود
                        option(value="1") ذكر
                        option(value="2") انثى
                  .col-xs-3.col-md-3
                    .form-group
                      label تاريخ الميلاد
                      input#Birth_Date.form-control(type="text", name="Birth_Date", placeholder="تاريخ الميلاد")
                  .col-xs-3.col-md-3
                    .form-group
                      label مكان الميلاد
                      input.form-control(type="text", name="Birth_Place", placeholder="مكان الميلاد")
                .row
                  .col-xs-3.col-md-3
                    .form-group
                      label بلد الميلاد
                      select#country.form-control.selectpicker(name="", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') بلد الميلاد
                        for country in countrys
                          option(value="#{country.id}") #{country.country_name}
                  .col-xs-3.col-md-3
                    .form-group
                      label مدينة الميلاد
                      select#Cities.form-control.selectpicker(name="city_Id", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') مدينة الميلاد
                  .col-xs-3.col-md-3
                    .form-group
                      label اسم اﻷم
                      if q
                        for per in personals
                            if per.Kinship.id==1
                              input(type="hidden",name="Fatherperson_Id",value="#{per.Personal.id}")
                              input(type="hidden",name="OfficeId",value="#{per.Family.OfficeId}")
                              input(type="hidden",name="FamilyId",value="#{per.Family.id}")
                        select.form-control.selectpicker(name="Motherperson_Id", data-live-search="true", data-size=5)
                          option(value="", style='colr:grey; display:none;') اسم اﻷم
                          for per in personals
                            if per.Kinship.id==2
                              option(value="#{per.Personal.id}") #{per.Personal.Arabic_Firstname} #{per.Personal.Arabic_Fathername} #{per.Personal.Arabic_Grandfathername} #{per.Personal.Arabic_Familyname}

                      //- input.form-control(type="text", name="", placeholder="اسم اﻷم")
                  .col-xs-3.col-md-3
                    .form-group
                      label تاريخ اﻹكتيتاب
                      input#Enlistingdate.form-control(type="text", name="Enlistingdate", placeholder="تاريخ اﻹكتيتاب")
              #tabTow.tab-pane(role="tabpanel")
                br
                .row
                  .col-xs-3.col-md-3
                    .form-group
                      label نوع الولادة
                      select.form-control.selectpicker(name="birth_type", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') نوع الولادة
                        option(value="1") فردية
                        option(value="2") توأم
                  .col-xs-3.col-md-3
                    .form-group
                      label عدد الاولاد
                      select.form-control.selectpicker(name="children_no", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') عدد الاولاد
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                        option(value="6") 6
                        option(value="7") 7
                        option(value="8") 8
                        option(value="9") 9
                  .col-xs-3.col-md-3
                    .form-group
                      label نوع المبلغ
                      select.form-control.selectpicker(name="informer_type", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') نوع المبلغ
                        option(value="1") فرد 
                        option(value="2") جهة
                  .col-xs-3.col-md-3
                    .form-group
                      label اسم المبلغ
                      input.form-control(type="text", name="informer_name", placeholder="اسم المبلغ")
                .row
                  .col-xs-3.col-md-3
                    .form-group
                      label عنوان المبلغ
                      input.form-control(type="text", name="informer_address", placeholder="عنوان المبلغ")
                  .col-xs-3.col-md-3
                    .form-group
                      label رقم السجل
                      input.form-control(type="text", name="record_no", placeholder="رقم السجل")
                  .col-xs-3.col-md-3
                    .form-group
                      label رقم ورقة السجل
                      input.form-control(type="text", name="record_paper_no", placeholder="رقم ورقة السجل")
                  .col-xs-3.col-md-3
                    .form-group
                      label مكان الواقعة
                      select.form-control.selectpicker(name="place_of_birth", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') مكان الواقعة
                        option(value="1") مستشفى
                        option(value="2") منزل
                        option(value="3") مكان آخر
                .row
                  .col-xs-3.col-md-3
                    .form-group
                      label كيفية الولادة
                      select.form-control.selectpicker(name="newborn_type", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') كيفية الولادة
                        option(value="1") طبيعية
                        option(value="2") قيصرية
                  .col-xs-3.col-md-3
                    .form-group
                      label نوع التبليغ
                      select.form-control.selectpicker(name="newborn_reporting", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') نوع التبليغ
                        option(value="1") تبليغ ولادة
                        option(value="2") طبق الاصل
                        option(value="3") لجنة اساقط القيد
                  .col-xs-3.col-md-3
                    .form-group
                      label حالة المولود
                      select.form-control.selectpicker(name="newborn_state", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') حالة المولود
                        option(value="1") ولد حيا
                        option(value="2") ولد ميتا
                        option(value="3") مات اثناء الولادة
                  .col-xs-3.col-md-3
                    .form-group
                      label فيصيلة الدم
                      select.form-control.selectpicker(name="", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') فيصيلة الدم
                        option(value="1") O−
                        option(value="2") O+
                        option(value="3") A−
                        option(value="4") A+
                        option(value="5") B−
                        option(value="6") B+
                        option(value="7") AB−
                        option(value="8") AB+

              #tabThree.tab-pane(role="tabpanel")
                br
                .row
                  .col-xs-3.col-md-3
                    .form-group
                      label حالة الولادة
                      select.form-control.selectpicker(name="birth_state", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') حالة الولادة
                        option(value="1") شرعي
                        option(value="2") غير شرعي
                        
                  .col-xs-3.col-md-3
                    .form-group
                      label حالة المولود الصحية
                      select.form-control.selectpicker(name="newborn_health", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') حالة المولود الصحية
                        option(value="1") سليم
                        option(value="2") معاق
                        
                  .col-xs-3.col-md-3
                    .form-group
                      label مدة الحمل
                      select.form-control.selectpicker(name="pregnancy_period", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') مدة الحمل
                        option(value="1") كامل النمو
                        option(value="2") اقل من سبعة اشهر
                  .col-xs-3.col-md-3
                    .form-group
                      label وزن المولود (جرام.الكيلو)
                      input#weight.form-control(type="text", name="weight", placeholder="وزن المولود بالكيلو والجرام")
                .row
                  .col-xs-6.col-md-6
                    .form-group
                      label طبيب او قابلة
                      select.form-control.selectpicker(name="midwife_type", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') طبيب او قابلة
                        option(value="1") دكتور
                        option(value="2") قابلة
                  .col-xs-6.col-md-6
                    .form-group
                      label اسم الطبيب او القرابة
                      input.form-control(type="text", name="midwife_name", placeholder="اسم الطبيب او القرابة")
                .row
                  .col-xs-4.col-md-4
                    .form-group
                      label المنطقة
                      select#region.form-control.selectpicker(name="", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') اختر المنطقة...
                        for region in regions
                          option(value="#{region.id}") #{region.region_name}
                  .col-xs-4.col-md-4
                    .form-group
                      label مكتب الاصدار
                      select#Branches.form-control.selectpicker(name="", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') مكتب الاصدار
                  .col-xs-4.col-md-4
                    .form-group
                      label السجل المدني
                      select#Offices.form-control.selectpicker(name="OfficeIdw", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') السجل المدني
          .modal-footer
            button.btn.btn-success.btn-lg(type="submit", style="width: 100%;")
              span.glyphicon.glyphicon-plus
              |  إضافة
  #edit.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#edit_family_form(action="/family/edit_family", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align تعديل بيانات الأسرة
          .modal-body
            .row
          .modal-footer
            button#edit_family_btn.btn.btn-info.btn-lg(type="submit", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  تعديل
  #delete.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#delete_family_form(action="/family/delete_family", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align إلغاء أسرة معين
          .modal-body
            .alert.alert-danger.h5
              //- get hidden ID has family_id_delete
              input#family_id_delete.form-control(type="hidden", name="id")               
              span.glyphicon.glyphicon-warning-sign
              |  هل تريد فعلا الغاء هذه الأسرة ؟
          .modal-footer
            button#yesBtn.btn.btn-success(type="submit")
              span.glyphicon.glyphicon-ok-sign
              |  نعم
            button.btn.btn-default(type="button", data-dismiss="modal")
              span.glyphicon.glyphicon-remove
              |  لا
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/bootstrap-switch.min.js')
  script(src='/js/jquery.mask.min.js')
  script(src='/js/helpers.js')
  script(src='/js/birth.js')
  script.
    $('#Birth_Date, #Enlistingdate').datetimepicker({
      useCurrent: false,
      viewMode: 'years',
      format: 'YYYY-MM-DD',
      locale: 'ar-sa'
    });
    $("[data-toggle=tooltip]").tooltip();
    $('#weight').mask('0.000');
