extends layout


block content
  h1= title
  p اهلا بك في #{title}
  for Country in countries
    p #{Country.id} - #{Country.country_name} - #{Country.nationality_male} - #{Country.nationality_female} 
