extends layout
block loginStyle
block content
  .container-fulid
    .col-sm-10.col-md-10
      .panel.panel-default
        .panel-heading
          .row
            .pull-right(style="margin-right: 10px;")
              h3#h3.panel-title عرض #{title}
            .col-xs-6.col-md-6
              form.form#search_job(action="")
                .input-group
                  input.form-control(type='text',name="search_name" placeholder='بحث...')
                  .input-group-btn
                    button.btn.btn-default(type="submit")
                      i.glyphicon.glyphicon-search
            .pull-left(style="margin-left: 10px;")
              a.btn.btn-success(href='#add', role='button',data-toggle='modal')
                span.glyphicon.glyphicon-plus
                span.text-none  إضافة مهنة
        .table-responsive
          table.table.table-bordred.table-striped.table-condensed
            thead
              tr.info
                th.text-center رقم المهنة
                th.text-center اسم المهنة
                th.text-center تعديل
                th.text-center إلغاء
            tbody
            for job in jobs
              tr(id="br-#{job.id}", data-name="#{job.job_name}", data-nameid="#{job.id}")
                td.text-center #{job.id}
                td.text-center #{job.job_name} 
                td.text-center
                  p(data-placement="top", data-toggle="tooltip", title="تعديل")
                    button.btn.btn-primary.btn-xs.edit_btn(data-title="Edit", data-toggle="modal", data-target="#edit", value="#{job.id}")
                      span.glyphicon.glyphicon-pencil
                td.text-center
                  p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                    button.btn.btn-danger.btn-xs.delete_btn(data-title="Delete", data-toggle="modal", data-target="#delete", value="#{job.id}")
                      span.glyphicon.glyphicon-trash
  #add.modal.fade(tabindex="-1", role="dialog", aria-labelledby="add", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#add_job_form(action="/job/new_job", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align إضافة مهنة جديدة
          .modal-body
            .form-group
              .row
                .col-xs-8.col-xs-offset-2.col-md-8.col-md-offset-2
                  label اسم المهنة
                  input#job_name.form-control(type="text", name="job_name", placeholder="اسم المهنة")
          .modal-footer
            button#add_job_btn.btn.btn-warning.btn-lg(type="submit", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  إضافة
  #edit.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#edit_job_form(action="/job/edit_job", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align تعديل مهنة
          .modal-body
            .form-group
              .row
                .col-xs-8.col-xs-offset-2.col-md-8.col-md-offset-2
                  label اسم المهنة
                  input#edit_job_name.form-control(type="text", name="job_name", placeholder="اسم المهنة")
                  //- get hidden ID has job_id_edit
                  input#job_id_edit.form-control(type="hidden", name="id")
          .modal-footer
            button#edit_job_btn.btn.btn-info.btn-lg(type="submit", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  تعديل
  #delete.modal.fade(tabindex="-1", role="dialog", aria-labelledby="delete", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#delete_job_form(action="/job/delete_job", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align إلغاء مهنة معينة
          .modal-body
            .alert.alert-danger.h5
              //- get hidden ID has job_id_delete
              input#job_id_delete.form-control(type="hidden", name="id")
              span.glyphicon.glyphicon-warning-sign
              |  هل تريد فعلا الغاء هذه المهنة ؟
          .modal-footer
            button#yesBtn.btn.btn-danger(type="submit")
              span.glyphicon.glyphicon-ok-sign
              |  نعم
            button.btn.btn-default(type="button", data-dismiss="modal")
              span.glyphicon.glyphicon-remove
              |  لا
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/helpers.js')
  script(src='/js/job.js')