doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-rtl.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/animate.min.css')
    block contantStyle
      link(rel='stylesheet', href='/css/bootstrap-select.min.css')
      link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')      
      link(rel='stylesheet', href='/css/bootstrap-switch.min.css')
      link(rel='stylesheet', href='/css/bootstrap-toggle.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block loginStyle
      link(rel='stylesheet', href='/css/loginStyle.css')
  body.animated.fadeIn
    block navigation
      .container-fulid  
        nav.navbar.navbar-default(role='navigation')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li(class=(title == 'الرئيسية' ? 'active' : ''))
                a(href='/home')
                  span#glyphicon.glyphicon.glyphicon-home
                  span  الـرئـيـسـيـة
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span#glyphicon.glyphicon.glyphicon-list-alt
                  span   إدراج سابق 
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/family') أسرة سابقة
                  li.divider
                  li
                    a(href='#') نقل القيد
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span#glyphicon.glyphicon.glyphicon-list-alt
                  span   الواقعات 
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/birth') واقعة ميلاد
                  li.divider
                  li
                    a(href='/death') واقعة وفاة
                  li.divider
                  li
                    a(href='/marriage') واقعة زواج
                  li.divider
                  li
                    a(href='/divorce') واقعة طلاق
              li(class=users_active)
                a(href='/user')
                  span.fa.fa-users
                  span  المستخدمين
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span#glyphicon.glyphicon.glyphicon-search
                  span  بحـــث 
                  b.caret
                ul.dropdown-menu(style='min-width: 300px;')
                  li
                    .row
                      .col-md-12
                        form.navbar-form.navbar-left(role='search')
                          .input-group
                            input.form-control(type='text', placeholder='بحـــث')
                            span.input-group-btn
                              button.btn.btn-primary(type='button')
                                | عـرض!

            ul.nav.navbar-nav.navbar-right
              //- li.dropdown
              //-   a.dropdown-toggle(href='#', data-toggle='dropdown')
              //-     span#glyphicon.glyphicon.glyphicon-comment
              //-     | Chats 
              //-     span.label.label-primary 42
              //-   ul.dropdown-menu
              //-     li
              //-       a(href='#')
              //-         span.label.label-warning 7:00 AM
              //-         | Hi :)
              //-     li
              //-       a(href='#')
              //-         span.label.label-warning 8:00 AM
              //-         | How are you?
              //-     li
              //-       a(href='#')
              //-         span.label.label-warning 9:00 AM
              //-         | What are you doing?
              //-     li.divider
              //-     li
              //-       a.text-center(href='#') View All
              //- li.dropdown
              //-   a.dropdown-toggle(href='#', data-toggle='dropdown')
              //-     span#glyphicon.glyphicon.glyphicon-envelope
              //-     | Inbox 
              //-     span.label.label-info 32
              //-   ul.dropdown-menu
              //-     li
              //-       a(href='#')
              //-         span.label.label-warning 4:00 AM
              //-         | Favourites Snippet
              //-     li
              //-       a(href='#')
              //-         span.label.label-warning 4:30 AM
              //-         | Email marketing
              //-     li
              //-       a(href='#')
              //-         span.label.label-warning 5:00 AM
              //-         | Subscriber focused email
              //-         |                             design
              //-     li.divider
              //-     li
              //-       a.text-center(href='#') View All
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span.glyphicon.glyphicon-user
                  span  #{name}
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#')
                      span.glyphicon.glyphicon-user
                      span  الملف الشخصي
                  li
                    a(href='#')
                      span.glyphicon.glyphicon-cog
                      span  الاعدادت
                  li.divider
                  li
                    a(href='/logout')
                      span.glyphicon.glyphicon-off
                      span  خروج
    block cPanel
      .container-fulid
        .col-sm-2.col-md-2
          #accordion.panel-group
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                    if collapse_one
                      span.glyphicon.glyphicon-folder-open
                    else
                      span.glyphicon.glyphicon-folder-close
                    span  جداول التراميز
              #collapseOne.panel-collapse.collapse(class=collapse_one)
                .panel-body
                  table.table
                    tr
                      td(class=active_one_one)
                        span.glyphicon.glyphicon-tasks
                        a(href='/region')  الــمــنــطــقـــــــــــــة
                    tr
                      td(class=active_one_two)
                        span.glyphicon.glyphicon-tasks
                        a(href='/branch')  مــكــتــب الاصــدار
                    tr
                      td(class=active_one_three)
                        span.glyphicon.glyphicon-tasks
                        a(href='/manucipality')  الــبــلــديـــــــــــــــــــة
                    tr
                      td(class=active_one_four)
                        span.glyphicon.glyphicon-tasks
                        a(href='/office')  الـسـجـل الـمـدنـي
                    tr
                      td(class=active_one_five)
                        span.glyphicon.glyphicon-tasks
                        a(href='/kinship')  صــلــة الــقــرابــــــة
                    tr
                      td(class=active_one_six)
                        span.glyphicon.glyphicon-tasks
                        a(href='/job')  الــمــهــنـــــــــــــــــــة
                    tr
                      td(class=active_one_seven)
                        span.glyphicon.glyphicon-tasks
                        a(href='/country')  بــلــــــد الـــمـــيـــلاد
                    tr
                      td(class=active_one_eight)
                        span.glyphicon.glyphicon-tasks
                        a(href='/city')  مـــدن الــمـــــيــــلاد
                    tr
                      td(class=active_one_nine)
                        span.glyphicon.glyphicon-tasks
                        a(href='/deathreason')  سـبـب الـوفــــــــــاة
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                    if collapse_two
                      span.glyphicon.glyphicon-folder-open
                    else
                      span.glyphicon.glyphicon-folder-close
                    span  إدراج سابق
              #collapseTwo.panel-collapse.collapse(class=collapse_two)
                .panel-body
                  table.table
                    tr
                      td(class=active_two_one)
                        span.glyphicon.glyphicon-tasks
                        a(href='/family')  أســــــرة ســابقـــة
                    tr
                      td(class=active_two_two)
                        span.glyphicon.glyphicon-tasks
                        a(href='#')  نــــقــــل الــــقيــــد
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                    if collapse_three
                      span.glyphicon.glyphicon-folder-open
                    else
                      span.glyphicon.glyphicon-folder-close
                    span  الواقعات
              #collapseThree.panel-collapse.collapse(class=collapse_three)
                .panel-body
                  table.table
                    tr
                      td(class=active_three_one)
                        span.glyphicon.glyphicon-tasks
                        a(href='/birth')  واقـــعـــة مـــيـــلاد
                    tr
                      td(class=active_three_two)
                        span.glyphicon.glyphicon-tasks
                        a(href='/death')  واقـــعـــة وفــــــاة
                    tr
                      td(class=active_three_three)
                        span.glyphicon.glyphicon-tasks
                        a(href='/divorce')  واقـــعـــة طــــلاق
                    tr
                      td(class=active_three_four)
                        span.glyphicon.glyphicon-tasks
                        a(href='/marriage')  واقـــعـــة زواج
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
                    if collapse_four
                      span.glyphicon.glyphicon-folder-open
                    else
                      span.glyphicon.glyphicon-folder-close
                    span  التقــارير
              #collapseFour.panel-collapse.collapse(class=collapse_four)
                .panel-body
                  table.table
                    tr
                      td(class=active_four_one)
                        span.glyphicon.glyphicon-tasks
                        a(href='/report_family')  شهادة الميلاد والوفاة
                    tr
                      td(class=active_four_two)
                        span.glyphicon.glyphicon-tasks
                        a(href='#')  تقارير اخري
    block content
    