extends layout

block content
  .container-fulid
    .col-sm-10.col-md-10
      .panel.panel-default
        .panel-heading
          .row
            .pull-right(style="margin-right: 10px;")
              h3#h3.panel-title عرض #{title}
            .col-xs-6.col-md-6
              form.form#search_manucipality(action="")
                .input-group
                  input.form-control(type='text',name="search_name" placeholder='بحث...')
                  .input-group-btn
                    button.btn.btn-default(type="submit")
                      i.glyphicon.glyphicon-search
            .pull-left(style="margin-left: 10px;")
              a.btn.btn-success(href='#add', role='button',data-toggle='modal')
                span.glyphicon.glyphicon-plus
                span.text-none  إضافة بلدية
        .table-responsive
          table.table.table-bordred.table-striped.table-condensed
            thead
              tr.info
                th.text-center رقم البلدية
                th.text-center اسم البلدية
                th.text-center تعديل
                th.text-center إلغاء
            tbody
            for manucipality in manucipalitys
              tr(id="br-#{manucipality.id}", data-name="#{manucipality.manucipality_name}")
                td.text-center #{manucipality.id}
                td.text-center #{manucipality.manucipality_name} 
                td.text-center
                  p(data-placement="top", data-toggle="tooltip", title="تعديل")
                    button.btn.btn-primary.btn-xs.edit_btn(data-title="Edit", data-toggle="modal", data-target="#edit", value="#{manucipality.id}")
                      span.glyphicon.glyphicon-pencil
                td.text-center
                  p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                    button.btn.btn-danger.btn-xs.delete_btn(data-title="Delete", data-toggle="modal", data-target="#delete", value="#{manucipality.id}")
                      span.glyphicon.glyphicon-trash
  #add.modal.fade(tabindex="-1", role="dialog", aria-labelledby="add", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#add_manucipality_form(action="/manucipality/new_manucipality", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align إضافة بلدية
          .modal-body
            .form-group
              .row
                .col-xs-8.col-xs-offset-2.col-md-8.col-md-offset-2
                  label اسم البلدية
                  input#manucipality_name.form-control(type="text", name="manucipality_name", placeholder="اسم البلدية")
          .modal-footer
            button#add_manucipality_btn.btn.btn-warning.btn-lg(type="submit", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  إضافة
  #edit.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#edit_manucipality_form(action="/manucipality/edit_manucipality", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align تعديل بلدية
          .modal-body
            .form-group
              .row
                .col-xs-8.col-xs-offset-2.col-md-8.col-md-offset-2
                  label اسم البلدية
                  input#edit_manucipality_name.form-control(type="text", name="manucipality_name", placeholder="اسم البلدية")
                  //- get hidden ID has manucipality_id_edit
                  input#manucipality_id_edit.form-control(type="hidden", name="id")
          .modal-footer
            button#edit_manucipality_btn.btn.btn-info.btn-lg(type="submit", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  تعديل
  #delete.modal.fade(tabindex="-1", role="dialog", aria-labelledby="delete", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#delete_manucipality_form(action="/manucipality/delete_manucipality", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align إلغاء بلدية معينة
          .modal-body
            .alert.alert-danger.h5
              //- get hidden ID has manucipality_id_delete
              input#manucipality_id_delete.form-control(type="hidden", name="id")
              span.glyphicon.glyphicon-warning-sign
              |  هل تريد فعلا الغاء هذه البلدية ؟
          .modal-footer
            button#yes_btn.btn.btn-danger(type="submit")
              span.glyphicon.glyphicon-ok-sign
              |  نعم
            button.btn.btn-default(type="button", data-dismiss="modal")
              span.glyphicon.glyphicon-remove
              |  لا
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/helpers.js')
  script(src='/js/manucipality.js')