extends layout
block loginStyle
block content
  .container-fulid
    .col-sm-10.col-md-10
      .form-group
        lable.h4(style="padding-left:10px;") عرض نوع الاسر حسب النوع
        input#type1.form-control(type="radio", name="family_type", checked="", data-inverse="true", data-label-text="ليبية", data-off-text="لا", data-on-text="نعم", data-off-color="danger")
        span(style="margin-right:30px;")
        input#type2.form-control(type="radio", name="family_type", data-inverse="true", data-label-text="مؤقته", data-off-text="لا", data-on-text="نعم", data-off-color="danger")
        span(style="margin-right:30px;")
        input#type3.form-control(type="radio", name="family_type", data-inverse="true", data-label-text="اجنبية", data-off-text="لا", data-on-text="نعم", data-off-color="danger")
      .panel.panel-default
        .panel-heading
          .row
            .pull-right(style="margin-right: 10px;")
              h3#h3.panel-title عرض #{title}
            .col-xs-6.col-md-6
              form.form#search_personal(action="")  
                .input-group
                  input.form-control(type='text',name="search_name" placeholder='بحث')
                  .input-group-btn
                    button.btn.btn-default(type="submit")
                      i.glyphicon.glyphicon-search
            .pull-left(style="margin-left: 10px;")
              a.btn.btn-success(href='#add', role='button',data-toggle='modal')
                span.glyphicon.glyphicon-plus
                span.text-none  إضافة أفراد الأسرة
        .table-responsive
          table.table.table-bordred.table-striped.table-condensed
            thead
              tr.info
                th.text-center الاسم
                th.text-center الأب
                th.text-center الجد
                th.text-center اللقب
                //- th.text-center أسم الأم
                th.text-center تاريخ الميلاد
                th.text-center مكان الميلاد
                th.text-center الجنسية
                th.text-center صلة القرابة
                th.text-center الرقم الوطني
                th.text-center تعديل
                th.text-center إلغاء
            tbody
              for i in personal
                tr
                  td.text-center #{i.Arabic_Firstname}
                  td.text-center #{i.Arabic_Fathername}
                  td.text-center #{i.Arabic_Grandfathername}
                  td.text-center #{i.Arabic_Familyname}
                  //- td.text-center #{i.Arabic_Motherfirstname} #{i.Arabic_Motherfamilyname}
                  td.text-center #{i.Birth_Date.getFullYear()}/#{i.Birth_Date.getMonth()+1}/#{i.Birth_Date.getDate()}
                  td.text-center #{i.Birth_Place}
                  td.text-center
                    if i.Gender == 1
                      | #{i.nationality_male}
                    if i.Gender == 2
                      | #{i.nationality_female}

                  td.text-center #{i.kinship_name}

                  td.text-center #{i.national_id}
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="تعديل")
                      button.btn.btn-primary.btn-xs.edit_btn(data-title="Edit", data-toggle="modal", data-target="#edit", value="")
                        span.glyphicon.glyphicon-edit
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                      button#remove.btn.btn-danger.btn-xs.delete_btn(value="#{i.pid}",data-title="Delete", data-toggle="modal", data-target="#delete")
                        span.glyphicon.glyphicon-trash
  #add.modal.fade(tabindex="-1", role="dialog", aria-labelledby="add", aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        form.form#add_personal_form(role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align إضافة فرد جديد لأسرة
          .modal-body
            ul.nav.nav-tabs(role="tablist")
              li.active(role="presentation")
                a(href="#tabOne", aria-controls="tabOne", role="tab", data-toggle="tab") البيانات الشخصية - 1
              li
                a(href="#tabTwo", aria-controls="tabTwo", role="tab", data-toggle="tab") البيانات الشخصية - 2
              li#three
                a(href="#tabThree", aria-controls="tabThree", role="tab", data-toggle="tab") الاسرة القادم منها
            .tab-content
              #tabOne.tab-pane.active(role="tabpanel")
                br
                .form-group
                  .row
                    .col-xs-3.col-xs-offset-1.col-md-3.col-md-offset-1
                      label هل هو حي او متوفي 
                      br
                      input#Is_Alive.form-control(type="checkbox", name="Is_Alive", data-inverse="true", data-label-text="الحالة", data-off-text="متوفي", data-on-text="حي", data-off-color="danger", checked)
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label الاسم
                      input#Arabic_Firstname.form-control(type="text", name="Arabic_Firstname", placeholder="الاسم")
                    .col-xs-3.col-md-3
                      label اسم اﻷب
                      input#Arabic_Fathername.form-control(type="text", name="Arabic_Fathername", placeholder="اسم اﻷب")
                    .col-xs-3.col-md-3
                      label اسم الجد
                      input#Arabic_Grandfathername.form-control(type="text", name="Arabic_Grandfathername", placeholder="اسم الجد")
                    .col-xs-3.col-md-3
                      label اللقب
                      input#Arabic_Familyname.form-control(type="text", name="Arabic_Familyname", placeholder="لقب العائلة")
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label الجنس
                      select#Gender.form-control.selectpicker(name="Gender", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') الجنس
                        for i,u in social.gender
                          option(value="#{u}") #{i}  
                    .col-xs-3.col-md-3
                      label دولة الميلاد
                      select#country.form-control.selectpicker(name="country", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') دولة الميلاد
                        for data in country
                          option(value="#{data.id}") #{data.country_name}
                    .col-xs-3.col-md-3
                      label مدينة الميلاد
                      select#city_id.form-control.selectpicker(name="city_id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') مدينة الميلاد
                    .col-md-3
                      label محل الميلاد
                      input#Birth_Place.form-control(type="text", name="Birth_Place", placeholder="محل الميلاد")
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label تاريخ الميلاد
                      input#Birth_Date.form-control(type="text", name="Birth_Date", placeholder="تاريخ الميلاد")
                    .col-xs-3.col-md-3
                      label تاريخ الاكتتاب
                      input#Enlistingdate.form-control(type="text", name="Enlistingdate", placeholder="تاريخ الاكتتاب")
                    .col-xs-3.col-md-3
                      label الجنسية 
                      select#Nationality_Id.form-control.selectpicker(name="Nationality_Id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') الجنسية
                    .col-xs-3.col-md-3
                      label صلة القرابة 
                      select#kinship.form-control.selectpicker(name="KinshipId", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') صلة القرابة
                        for i in kinship
                          option(value="#{i.id}") #{i.kinship_name}
              #tabTwo.tab-pane(role="tabpanel")
                br
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label الحالة الإجتماعية
                      select#Socialstatus_Id.form-control.selectpicker(name="Socialstatus_Id", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') الحالة الإجتماعية
                        //- for data,i in social.social_status
                        //-   option(value="#{i}", style='colr:grey;') #{data[0]}
                    .col-xs-3.col-md-3
                      label الديانة
                      select#Religion_Id.form-control.selectpicker(name="Religion_Id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') الديانة
                    .col-xs-3.col-md-3
                      label جنسية الأم
                      select#Mothernationality_Id.form-control.selectpicker(name="Mothernationality_Id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') جنسية اﻷم
                        for i in country
                          option(value="#{i.id}") #{i.nationality_female}
                    .col-xs-3.col-md-3
                      label جنسية الأب
                      select#Fathernationality_Id.form-control.selectpicker(name="Fathernationality_Id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') جنسية الأب
                        for i in country
                          option(value="#{i.id}") #{i.nationality_male}
                .form-group
                  .row
                    .col-md-3
                      label المهنة
                      select#JobId.form-control.selectpicker(name="JobId", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') المهنة
                        for i in job
                          option(value="#{i.id}") #{i.job_name}
                .form-group
                  .row
                    .col-xs-4.col-md-4
                      label حالة اﻷم
                      select#mother_status.form-control.selectpicker(name="mother_status", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') حالة اﻷم
                        option(value="1") موجودة
                        option(value="2") غير موجودة
                    .col-xs-8.col-md-8
                      .row#insert_mother_name.hide
                          .col-xs-3.col-md-3
                            label اسم الأم الأول
                            input#Arabic_Motherfirstname.form-control(type="text", name="Arabic_Motherfirstname", placeholder="اسم الأم ")
                          .col-xs-3.col-md-3
                            label اسم أب الأم
                            input#Arabic_Motherfathername.form-control(type="text", name="Arabic_Motherfathername", placeholder="اسم  والد الأم ")
                          .col-xs-3.col-md-3
                            label اسم جد الأم
                            input#Arabic_Mothergrandfathername.form-control(type="text", name="Arabic_Mothergrandfathername", placeholder="اسم جد الأم")
                          .col-xs-3.col-md-3
                            label لقب الأم
                            input#Arabic_Motherfamilyname.form-control(type="text", name="Arabic_Motherfamilyname", placeholder="لقب الأم ")
                      .row#select_mother_name.hide
                          .col-xs-12.col-md-12
                            label اسم اﻷم بالكامل
                            select#Motherperson_Id.form-control.selectpicker(name="Motherperson_Id", data-live-search="true", data-size=5)
                              option(value="", style='color:grey; display:none;') اختر اسم اﻷم بالكامل
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label سند القيد
                      select#Regdoctype_Id.form-control.selectpicker(name="Regdoctype_Id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') سند القيد
                        for data,i in social.reg_doc_type
                          option(value="#{i}") #{data}
                    .col-xs-9.col-md-9.box
                      .row
                        .col-xs-3.col-md-3
                          label نوع الجنسية
                          select#Certification_Type_Id.form-control.selectpicker(name="Certification_Type_Id", data-live-search="true", data-size=5)
                            option(value="", style='color:grey; display:none;') نوع الجنسية
                            for i,u in social.cert_type
                              option(value="#{u}") #{i}
                        .col-xs-3.col-md-3
                          label تاريخ الجنسية
                          input#Certification_Issuance_Date.form-control(type="text", name="Certification_Issuance_Date", placeholder="تاريخ الجنسية")
                        .col-xs-3.col-md-3
                          label رقم ملف الجنسية
                          input#Certification_File_Number.form-control(type="text", name="Certification_File_Number", placeholder="رقم ملف الجنسية")
                        .col-xs-3.col-md-3
                          label رقم شهادة الجنسية
                          input#CertificationMber.form-control(type="text", name="CertificationMber", placeholder="رقم الشهادة")
              #tabThree.tab-pane(role="tabpanel")
                .panel.panel-default
                  br
                  .panel-body
                    .row
                      .col-md-4.col-md-offset-4
                        input.search-query.form-control#family_Registrynumber(type='text', placeholder='بحث برقم القيد فقط')      
                  br
                  .table-responsive
                    table.table.table-bordred.table-striped.table-condensed
                      thead
                        tr.info
                          th.text-center رقم الاسرة
                          th.text-center رقم القيد
                          th.text-center رقم ورقة العائلة
                          th.text-center الرقم الالي
                          th.text-center حالة الاسرة
                          th.text-center نوع الاسرة
                          th.text-center السجل المدني
                          th.text-center اضافة فرد
                      tbody#family_table
                      //- for family in familys
                      //-   tr(id="br-#{family.id}",data-registry_number="#{family.Registrynumber}", data-record_number="#{family.Recordnumber}", data-family_record_date="#{family.FamilyRecordDate.getFullYear()}/#{family.FamilyRecordDate.getMonth()+1}/#{family.FamilyRecordDate.getDate()}", data-auto_generated_id="#{family.Autogenerated_Id}", data-is_closed="#{family.Is_Closed}", data-family_type="#{family.FamilyType}",data-officee="#{family.OfficeId}",data-office_name="#{family.Office.office_name}")
                      //-     td.text-center #{family.id}
                      //-     td.text-center #{family.Registrynumber}
                      //-     td.text-center #{family.Recordnumber}
                      //-     td.text-center #{family.Autogenerated_Id} 
                      //-     td.text-center 
                      //-       if family.Is_Closed == 1
                      //-         | نشطة
                      //-       if family.Is_Closed == 2
                      //-         | غير نشطة
                      //-     td.text-center 
                      //-       if family.FamilyType==1
                      //-         |ليبية
                      //-       else if family.FamilyType==2
                      //-         |مؤقته
                      //-       else if family.FamilyType==3
                      //-         |اجانب
                      //-     td.text-center #{family.Office.office_name}
                      //-     td.text-center
                      //-       p(data-placement="top", data-toggle="tooltip", title="أختار")
                      //-         input#family_come_from.form-control(type="checkbox", name="family_come_from")
            button#add_personal_btn.btn.btn-success.btn-lg(type="button", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  إضافة
  
  #edit.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        form.form#edit_personal_form(role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align إضافة فرد جديد لأسرة
          .modal-body
            ul.nav.nav-tabs(role="tablist")
              li.active(role="presentation")
                a(href="#tabOneEdit", aria-controls="tabOneEdit", role="tab", data-toggle="tab") البيانات الشخصية - 1
              li
                a(href="#tabTwoEdit", aria-controls="tabTwoEdit", role="tab", data-toggle="tab") البيانات الشخصية - 2
              li#three
                a(href="#tabThreeEdit", aria-controls="tabThreeEdit", role="tab", data-toggle="tab") الاسرة القادم منها
            .tab-content
              #tabOneEdit.tab-pane.active(role="tabpanel")
                br
                .form-group
                  .row
                    .col-xs-3.col-xs-offset-1.col-md-3.col-md-offset-1
                      label هل هو حي او متوفي 
                      br
                      input#Is_Alive.form-control(type="checkbox", name="Is_Alive", data-inverse="true", data-label-text="الحالة", data-off-text="متوفي", data-on-text="حي", data-off-color="danger", checked)
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label الاسم
                      input#Arabic_Firstname.form-control(type="text", name="Arabic_Firstname", placeholder="الاسم")
                    .col-xs-3.col-md-3
                      label اسم اﻷب
                      input#Arabic_Fathername.form-control(type="text", name="Arabic_Fathername", placeholder="اسم اﻷب")
                    .col-xs-3.col-md-3
                      label اسم الجد
                      input#Arabic_Grandfathername.form-control(type="text", name="Arabic_Grandfathername", placeholder="اسم الجد")
                    .col-xs-3.col-md-3
                      label اللقب
                      input#Arabic_Familyname.form-control(type="text", name="Arabic_Familyname", placeholder="لقب العائلة")
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label الجنس
                      select#Gender.form-control.selectpicker(name="Gender", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') الجنس
                        for i,u in social.gender
                          option(value="#{u}") #{i}  
                    .col-xs-3.col-md-3
                      label دولة الميلاد
                      select#country.form-control.selectpicker(name="country", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') دولة الميلاد
                        for data in country
                          option(value="#{data.id}") #{data.country_name}
                    .col-xs-3.col-md-3
                      label مدينة الميلاد
                      select#city_id.form-control.selectpicker(name="city_id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') مدينة الميلاد
                    .col-md-3
                      label محل الميلاد
                      input#Birth_Place.form-control(type="text", name="Birth_Place", placeholder="محل الميلاد")
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label تاريخ الميلاد
                      input#Birth_Date.form-control(type="text", name="Birth_Date", placeholder="تاريخ الميلاد")
                    .col-xs-3.col-md-3
                      label تاريخ الاكتتاب
                      input#Enlistingdate.form-control(type="text", name="Enlistingdate", placeholder="تاريخ الاكتتاب")
                    .col-xs-3.col-md-3
                      label الجنسية 
                      select#Nationality_Id.form-control.selectpicker(name="Nationality_Id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') الجنسية
                    .col-xs-3.col-md-3
                      label صلة القرابة 
                      select#kinship.form-control.selectpicker(name="KinshipId", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') صلة القرابة
                        for i in kinship
                          option(value="#{i.id}") #{i.kinship_name}
              #tabTwoEdit.tab-pane(role="tabpanel")
                br
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label الحالة الإجتماعية
                      select#Socialstatus_Id.form-control.selectpicker(name="Socialstatus_Id", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') الحالة الإجتماعية
                        //- for data,i in social.social_status
                        //-   option(value="#{i}", style='colr:grey;') #{data[0]}
                    .col-xs-3.col-md-3
                      label الديانة
                      select#Religion_Id.form-control.selectpicker(name="Religion_Id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') الديانة
                    .col-xs-3.col-md-3
                      label جنسية الأم
                      select#Mothernationality_Id.form-control.selectpicker(name="Mothernationality_Id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') جنسية اﻷم
                        for i in country
                          option(value="#{i.id}") #{i.nationality_female}
                    .col-xs-3.col-md-3
                      label جنسية الأب
                      select#Fathernationality_Id.form-control.selectpicker(name="Fathernationality_Id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') جنسية الأب
                        for i in country
                          option(value="#{i.id}") #{i.nationality_male}
                .form-group
                  .row
                    .col-md-3
                      label المهنة
                      select#JobId.form-control.selectpicker(name="JobId", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') المهنة
                        for i in job
                          option(value="#{i.id}") #{i.job_name}
                .form-group
                  .row
                    .col-xs-4.col-md-4
                      label حالة اﻷم
                      select#mother_status.form-control.selectpicker(name="mother_status", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') حالة اﻷم
                        option(value="1") موجودة
                        option(value="2") غير موجودة
                    .col-xs-8.col-md-8
                      .row#insert_mother_name.hide
                          .col-xs-3.col-md-3
                            label اسم الأم الأول
                            input#Arabic_Motherfirstname.form-control(type="text", name="Arabic_Motherfirstname", placeholder="اسم الأم ")
                          .col-xs-3.col-md-3
                            label اسم أب الأم
                            input#Arabic_Motherfathername.form-control(type="text", name="Arabic_Motherfathername", placeholder="اسم  والد الأم ")
                          .col-xs-3.col-md-3
                            label اسم جد الأم
                            input#Arabic_Mothergrandfathername.form-control(type="text", name="Arabic_Mothergrandfathername", placeholder="اسم جد الأم")
                          .col-xs-3.col-md-3
                            label لقب الأم
                            input#Arabic_Motherfamilyname.form-control(type="text", name="Arabic_Motherfamilyname", placeholder="لقب الأم ")
                      .row#select_mother_name.hide
                          .col-xs-12.col-md-12
                            label اسم اﻷم بالكامل
                            select#Motherperson_Id.form-control.selectpicker(name="Motherperson_Id", data-live-search="true", data-size=5)
                              option(value="", style='color:grey; display:none;') اختر اسم اﻷم بالكامل
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label سند القيد
                      select#Regdoctype_Id.form-control.selectpicker(name="Regdoctype_Id", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') سند القيد
                        for data,i in social.reg_doc_type
                          option(value="#{i}") #{data}
                    .col-xs-9.col-md-9.box
                      .row
                        .col-xs-3.col-md-3
                          label نوع الجنسية
                          select#Certification_Type_Id.form-control.selectpicker(name="Certification_Type_Id", data-live-search="true", data-size=5)
                            option(value="", style='color:grey; display:none;') نوع الجنسية
                            for i,u in social.cert_type
                              option(value="#{u}") #{i}
                        .col-xs-3.col-md-3
                          label تاريخ الجنسية
                          input#Certification_Issuance_Date.form-control(type="text", name="Certification_Issuance_Date", placeholder="تاريخ الجنسية")
                        .col-xs-3.col-md-3
                          label رقم ملف الجنسية
                          input#Certification_File_Number.form-control(type="text", name="Certification_File_Number", placeholder="رقم ملف الجنسية")
                        .col-xs-3.col-md-3
                          label رقم شهادة الجنسية
                          input#CertificationMber.form-control(type="text", name="CertificationMber", placeholder="رقم الشهادة")
              #tabThreeEdit.tab-pane(role="tabpanel")
                .panel.panel-default
                  br
                  .panel-body
                    .row
                      .col-md-4.col-md-offset-4
                        input.search-query.form-control#family_Registrynumber(type='text', placeholder='بحث برقم القيد فقط')      
                  br
                  .table-responsive
                    table.table.table-bordred.table-striped.table-condensed
                      thead
                        tr.info
                          th.text-center رقم الاسرة
                          th.text-center رقم القيد
                          th.text-center رقم ورقة العائلة
                          th.text-center الرقم الالي
                          th.text-center حالة الاسرة
                          th.text-center نوع الاسرة
                          th.text-center السجل المدني
                          th.text-center اضافة فرد
                      tbody#family_table
                      //- for family in familys
                      //-   tr(id="br-#{family.id}",data-registry_number="#{family.Registrynumber}", data-record_number="#{family.Recordnumber}", data-family_record_date="#{family.FamilyRecordDate.getFullYear()}/#{family.FamilyRecordDate.getMonth()+1}/#{family.FamilyRecordDate.getDate()}", data-auto_generated_id="#{family.Autogenerated_Id}", data-is_closed="#{family.Is_Closed}", data-family_type="#{family.FamilyType}",data-officee="#{family.OfficeId}",data-office_name="#{family.Office.office_name}")
                      //-     td.text-center #{family.id}
                      //-     td.text-center #{family.Registrynumber}
                      //-     td.text-center #{family.Recordnumber}
                      //-     td.text-center #{family.Autogenerated_Id} 
                      //-     td.text-center 
                      //-       if family.Is_Closed == 1
                      //-         | نشطة
                      //-       if family.Is_Closed == 2
                      //-         | غير نشطة
                      //-     td.text-center 
                      //-       if family.FamilyType==1
                      //-         |ليبية
                      //-       else if family.FamilyType==2
                      //-         |مؤقته
                      //-       else if family.FamilyType==3
                      //-         |اجانب
                      //-     td.text-center #{family.Office.office_name}
                      //-     td.text-center
                      //-       p(data-placement="top", data-toggle="tooltip", title="أختار")
                      //-         input#family_come_from.form-control(type="checkbox", name="family_come_from")
            button#edit_personal_btn.btn.btn-success.btn-lg(type="button", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  إضافة

  #delete.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4.modal-title.custom_align إلغاء شخص معين
        .modal-body
          .alert.alert-danger
            span.glyphicon.glyphicon-warning-sign
            |  هل انت متأكد من إلغاء هذا الشخص؟
        .modal-footer
          button#delete_it.btn.btn-success(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-ok-sign
            |  نعم
          button#no.btn.btn-default(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            |  لا
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-switch.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/helpers.js')
  script(src='/js/personal.js')
  //- script.
  //-   $(document).ready(function(){
  //-     $("[data-toggle=tooltip]").tooltip();
  //-   });
  //-   $(document).on('click', '.panel-heading span.btn', function(e){
  //-       var $this = $(this);
  //-     if(!$this.hasClass('panel-collapsed')) {
  //-       $this.parents('.panel').find('.panel-body').slideDown();
  //-       $this.addClass('panel-collapsed');
  //-       $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
  //-     } else {
  //-       $this.parents('.panel').find('.panel-body').slideUp();
  //-       $this.removeClass('panel-collapsed');
  //-       $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
  //-     }
  //-   })
  
