extends layout
block content
  .container-fulid
    .col-sm-10.col-md-10
      .panel.panel-default
        .panel-heading
          .row
            .pull-right(style="margin-right: 10px;")
              h3#h3.panel-title عرض
            .col-xs-6.col-md-6
              form.form(action="")
                .input-group
                  input.form-control(type='text',name="search_name" placeholder='بحث...')
                  .input-group-btn
                    button.btn.btn-default(type="submit")
                      i.glyphicon.glyphicon-search
            .pull-left(style="margin-left: 10px;")
              a.btn.btn-success(href='/marriage', role='button',data-toggle='modal')
                span.glyphicon.glyphicon-plus
                span.text-none  إضافة واقعة زواج
        .table-responsive
          table.table.table-bordred.table-striped.table-condensed
            thead
              tr.info
                th.text-center نوع الزواج
                th.text-center تاريخ الزواج
                th.text-center مكان الزواج
                th.text-center رقم عقد الزواج
                th.text-center رقم ورقة العائلة
                th.text-center رقم القيد
                th.text-center تعديل
                th.text-center إلغاء
            tbody#tbody
            for marriage in marriages
              tr(data-id = '#{marriage.id}' ,data-marriage_date = '#{marriage.marriage_date.getFullYear()}/#{marriage.marriage_date.getMonth()+1}/#{marriage.marriage_date.getDate()}' ,data-inform_date = '#{marriage.inform_date.getFullYear()}/#{marriage.inform_date.getMonth()+1}/#{marriage.inform_date.getDate()}' ,data-marriage_place = '#{marriage.marriage_place}' ,data-contract_number = '#{marriage.contract_number}' ,data-record_marriage_nu = '#{marriage.record_marriage_nu}' ,data-marriage_type = '#{marriage.marriage_type}' ,data-CityId = '#{marriage.CityId}' ,data-recordnumber = '#{marriage.Family.Recordnumber}' ,data-registrynumber = '#{marriage.Family.Registrynumber}' ,data-familyrecorddate = '#{marriage.Family.FamilyRecordDate.getFullYear()}/#{marriage.Family.FamilyRecordDate.getMonth()+1}/#{marriage.Family.FamilyRecordDate.getDate()}')
                td.text-center 
                  if marriage.marriage_type == 1
                    | زواج عن طريق المأذون
                  if marriage.marriage_type == 2
                    | زواج عن طريق المحكمة
                td.text-center #{marriage.marriage_date.getFullYear()}/#{marriage.marriage_date.getMonth()+1}/#{marriage.marriage_date.getDate()}
                td.text-center #{marriage.marriage_place}
                td.text-center #{marriage.contract_number}
                td.text-center #{marriage.Family.Recordnumber}
                td.text-center #{marriage.Family.Registrynumber}
                td.text-center
                  p(data-placement="top", data-toggle="tooltip", title="تعديل")
                    button.btn.btn-primary.btn-xs.edit_btn(data-title="Edit", data-toggle="modal", data-target="#edit", value="#{marriage.id}")
                      span.glyphicon.glyphicon-pencil
                td.text-center
                  p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                    button.btn.btn-danger.btn-xs.delete_btn(data-title="Delete", data-toggle="modal", data-target="#delete", value="#{marriage.id}")
                      span.glyphicon.glyphicon-trash
  #edit.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        form#edit_marriage.form(method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align بيانات واقعة الزواج 
          .modal-body
            .row
              .col-xs-3.col-md-3
                .form-group
                  label نوع الزواج
                  select#marriage_type.form-control.selectpicker(name="marriage_type", data-live-search="true", data-size=5)
                            option(value="", style='color:grey; display:none;') نوع الزواج
                            option(value="1") زواج عن طريق المأذون  
                            option(value="2") زواج عن طريق المحكمة
              .col-xs-3.col-md-3
                .form-group
                  label تاريخ الزواج
                  input#marriage_date.form-control(type="text", name="marriage_date", placeholder="تاريخ الزواج")
              .col-xs-3.col-md-3
                .form-group
                  label مكان الزواج
                  input#marriage_place.form-control(type="text", name="marriage_place", placeholder="مكان الزواج")
              .col-xs-3.col-md-3
                .form-group
                  label رقم عقد الزواج
                  input#contract_number.form-control(type="text", name="contract_number", placeholder="رقم عقد الزواج")
            .row  
              .col-xs-3.col-md-3
                .form-group
                  label رقم سجل الزواج
                  input#record_marriage_nu.form-control(type="text", name="record_marriage_nu", placeholder="رقم سجل الزواج")
              .col-xs-3.col-md-3
                .form-group
                  label تاريخ سجل الزواج
                  input#inform_date.form-control(type="text", name="inform_date", placeholder="تاريخ سجل الزواج")
              .col-xs-3.col-md-3
                .form-group
                  label رقم ورقة العائلة
                  input#Recordnumber.form-control(type="text", name="Recordnumber", placeholder="رقم ورقة العائلة")
              .col-xs-3.col-md-3
                .form-group
                  label تاريخ فتح ورقة العائلة
                  input#FamilyRecordDate.form-control(type="text", name="FamilyRecordDate", placeholder="تاريخ فتح ورقة العائلة")
            .row  
              .col-xs-3.col-md-3
                .form-group
                  label رقم القيد
                  input#Registrynumber.form-control(type="text", name="Registrynumber", placeholder="رقم القيد الجديد")
              .col-xs-3.col-md-3
                .form-group
                  label مدينة الزواج    
                  select#CityId.form-control.selectpicker(name="CityId", data-live-search="true", data-size=5)
                    for city in citys
                      option(value="#{city.id}",data-name="#{city.city_name}") #{city.city_name}
                  input#id(name="id",type="hidden") 
          .modal-footer
            button#update_Marriage.btn.btn-success.btn-lg(style="width: 100%;", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-edit
              |  تعديل
  #delete.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#delete(action="#", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align إلغاء واقعة زواج
          .modal-body
            .alert.alert-danger.h5
              //- get hidden ID has family_id_delete
              input.form-control(type="hidden", name="id")               
              span.glyphicon.glyphicon-warning-sign
              |  هل تريد فعلا الغاء هذه الواقعة ؟
          .modal-footer
            button#delete_marriage.btn.btn-danger(type="submit")
              span.glyphicon.glyphicon-ok-sign
              |  نعم
            button.btn.btn-default(type="button", data-dismiss="modal")
              span.glyphicon.glyphicon-remove
              |  لا
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/bootstrap-switch.min.js')
  script(src='/js/jquery.mask.min.js')
  script(src='/js/helpers.js')
  script(src='/js/marriage.js')
  script.
    $('#marriage_date, #inform_date, #FamilyRecordDate').datetimepicker({
      useCurrent: false,
      viewMode: 'years',
      format: 'YYYY-MM-DD',
      locale: 'ar-sa'
    });
    $("[data-toggle=tooltip]").tooltip();
    $('#weight').mask('0.000');
  
   
